<div *ngIf="mes1">
        <span><strong> Name: </strong>{{mes1.firstName}}</span><br><br>
        <span><strong>Last Name: </strong>{{mes1.lastName}}</span><br><br>
            <span><strong>Phone Number: </strong>{{mes1.number}}</span><br><br>
                <span><strong>Personale mail: </strong>{{mes1.email}}</span><br><br>
                    <span><strong>date Of Birth: </strong>{{mes1.dob}}</span><br><br>
                        <span><strong>Company mail: </strong>{{mes1.Cmail}}</span>
        </div>
    